@import '../../utils/scss/variables.scss';

.positions {
    height: 100%;
    width: 25%;
    z-index: 5;
    box-shadow: 8px 0px 5px -2px rgba(0, 0, 0, .3); //0px 0px 15px -2px #000000;

    &_noms {
        display: flex;
        //width: 100%;
        height: 1.5rem;
        justify-content: space-between;
        background-color: #2C2C2C;
        padding: .25rem;

        .select {
            color: white;
            font-size: .5rem;
            background-color: #1E1E1E;
            border-radius: 5rem;
            border: none;
        }
    }


    &_lignes {
        //width: 100%;
        //height: 100%;
        background-color: #1E1E1E;
        padding: $line-height;

        &_nom {

            padding: .25rem;
            display: flex;
            justify-content: space-evenly;

            &_axe {
                //font-family: 'helvetica-regular';
                align-self: center;
            }


            &_line {
                background: #2C2C2C;
                height: 2px;
                width: 50%;
                align-self: center;
                border-radius: 1rem;
            }


            &_add-position {
                background: #2C2C2C 50% 50% / 50% 50% no-repeat url("../../../public/Rectangle 21.png");
                width: 15px;
                height: 15px;
                border: 0;
                border-radius: 100%;
                align-self: center;
                cursor: pointer;
            }


            &_number {
                display: flex;
                justify-content: space-between;
                width: 20%;
                background-color: #2C2C2C;
                padding: .2rem;
                padding-left: .5rem;
                padding-right: .5rem;
                border-radius: .5rem;

                &_unité-écrite {
                    color: #1E1E1E;
                }
            }
        }

    }
}


.box {
    background-color: white;
    height: 5px;
    width: 5px;
    border-radius: 100%;
    //position: absolute;

}

input {
    width: 20%;
    background-color: #2C2C2C;
    //text-align: left;
    padding: 0.2rem;
    padding-left: 0.4rem;
    padding-right: 1.25rem;
    margin-right: 3%;
    border-radius: 100rem;
    font-size: .5rem;
    border: 0;
    color: white;
    font-size: .5rem;
    font-family: 'helvetica-regular';
}

span {
    display: flex;
    align-items: center;
    color: #1E1E1E;
}

/*
input {
    display: flex;
    justify-content: space-between;
    //width: 80%;
    background-color: white;//#2C2C2C;
    padding: .2rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: .5rem;
    border: 0;
    //color: white;//#1E1E1E;
    //padding-right: 76px;
    //width: 100%;
    
    padding-right: 1.5rem;
}
label, input {
    //position: relative;
    display: block;
    box-sizing: border-box;
    color: #1E1E1E;
    font-size: .5rem;
}*/
label {
    display: flex;
    justify-content: flex-end;
    width: 0;
}

label::after {
    content: attr(data-domain);
    position: absolute;
    //top: 4px;
    //left: 96px;
    //font-family: arial, helvetica, sans-serif;
    //font-size: 12px;
    //display: block;
    //color: rgba(0, 0, 0, 0.6);
    //font-weight: bold;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}