@import '../../../utils/scss/variables.scss';

.timeline-progress-bar {

  background: 50% 50% / 73% no-repeat linear-gradient(to right, #2C2C2C, #2C2C2C), no-repeat linear-gradient(to right, #1E1E1E, #1E1E1E);
  width: 50%;
  height: 100%;
  z-index: 1;
  text-align: -webkit-center; //À changer ?
  overflow: hidden;

  &_scrape-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 1.5rem;
    background-color: #1E1E1E;
    position: relative;


    &_scraper {
      position: absolute;
      bottom: 0;
      left: 0;

      &_head {
        width: 16px;
        height: auto;
      }

      &_line {
        width: 2px;
        height: 300px;
        position: absolute;
        top: 0;
        left: 7px;
        background: white;
      }
    }
  }


  &_lecteur {
    z-index: 2;
    //height: 100%;
    padding: 0.25rem;
    //background-color: #2C2C2C;
    display: flex;
    flex-direction: column;

    &_black-line {
      background-color: black;
      height: 1.2px;
      width: 100%;
      margin-top: $line-height + 1.2rem;
    }

    #first-black-line {
      margin-top: $line-height + .7rem;
    }
  }

  /*
    .lecteur {
    z-index: 2;
    height: 475px;
    position: absolute;
    width: 2px;
    background: green;
    pointer-events: none;
    }*/
}