@font-face {
  font-family: 'helvetica-regular';
  src: url(../public/fonts/HelveticaNowDisplay-Regular.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background: #1E1E1E;
}